---
import Leyout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../style/global.css';
---

<Leyout title="halaman tidak tersedia">
  <Navbar titles="Dimasyoga" />
  <div class=" w-full min-h-[100vh] flex justify-center">
    <div class="flex  justify-items-center items-center text-center">
      <div>
      <h1 class="text-center font-extrabold text-5xl text-yellow-400">404</h1>
      <h1 class="text-2xl font-extrabold">NOT FOUND</h1>
      </div>

    </div>
  </div>
</Leyout>