---
import '../style/global.css'
import Layout from '../layouts/Layout.astro';
import { getAllpost } from '../data/posts.js'
import * as AstroFeather from 'astro-feather';
const posts = getAllpost();
---
<Layout>
  <div class="mt-3">
  <h1 class=" text-2xl font-bold ml-3 gap-5">♪ MY BLOG</h1>
  <div class="w-full h-auto flex flex-wrap justify-center gap-4 mt-2">
    <div class="flex flex-wrap justify-center m-auto gap-4">
  {posts.map(post => (
   <div class="w-[80%] md:w-[45%] md:mt-5 md:gap-4 h-auto rounded-lg shadow-sm gap-5 backdrop-blur-3xl border hover:shadow-lg">
    <img src="../images/icon.jpg" alt="gambar blog" class="w-full h-[150px] rounded-t-lg">
    <h1 class="font-bold text-xl ml-2 mt-2">{post.title}</h1>
    <small class="text-gray-400 ml-2">@Dimasyoga</small>
    <p class="ml-2">{post.des}</p>
    <small class="text-gray-400 ml-2 flex justify-items-center">{post.time}</small>
  </div>
  ))
  }
  </div>
  </div>
  </div>
</Layout>